.album-page {
  background: url(/assets/images/smoke.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100vw;
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  overflow: auto;
}

.album-container {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  overflow: auto;
}
.cover-image, .album-details {
  display: inline-block;
}
.cover-image {
  float: left;
  overflow: auto;
}
table {
  margin: auto;
  text-align: left;
}
.index {
  padding-right: 10px;
}
.song-title {
  padding-right: 40px;
}
h1 {
  margin-bottom: -10px;
}
#release-info {
  margin-top: -10px;
  margin-bottom: 10px;
}
.custom-icon {
  font-size: 20px;
  border-radius: 2px;
  text-decoration: none;
}

@media (max-width: 1040px) {
  img {
    width: 200px;
  }
}
@media (max-width: 815px) {
  .album-container {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .cover-image {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
  }
  .album-details {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 500px) {
  .album-container {
    width: 80%;
  }
}
