.home-container {
  background: url(/assets/images/background-1.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -50px;
  height: 900px;
}
.logo {
  font-family: 'Gloria Hallelujah', cursive;
}
.landing {
  position: absolute;
  right: 100px;
  top: 400px;
}
.point {
  color: white;
  text-align: left;
}
.start-button {
  border: 1px solid white;
  color: white;
  padding: 15px;
  margin-top: 0px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}

.point-title {
  margin-top: -40px;
  font-size: 40px;
}
.point-description{
  font-size: 20px;
  margin-top: -20px;
}
.logo {
  position: absolute;
  left: 30px;
  top: 0px;
  color: white;
}

nav {
  position: absolute;
  right: 30px;
  top: 40px;
}

a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
.link {
  font-size: 15px;
  color: white;
}

@media (max-width: 1123px) {
  .point-title {
    font-size: 30px;
    margin: 0;
  }
  .point-description {
    margin: 0;
  }
  .start-button {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  .landing {
    position: absolute;
    right: 20px;
  }
}
@media (max-width: 500px) {
  .home-container {
    background: url(/assets/images/background-1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 500px;
  }
  .landing {
    top: 200px;
    text-align: right;
  }
}
