
img {
  width: 300px;
  margin-top: 20px;
}
.artist {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.container {
  display: inline-block;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 20px;
  border: solid 1px #781e29;
  overflow-x: auto;
}
.current-albums {
  font-size: 50px;
}
.listen {
  color: white;
  background-color: #781e29;
  width: 40%;
  padding: 15px 40px;
  margin: auto;
}

@media (max-width: 815px) {
  .album-list {
    margin-top: 50px;
  }
  .container {
    margin-top: 20px;
  }
}

@media (max-width: 567px) {
  .album-list {
    margin-top: 50px;
  }
}
