.library {
  background: url(/assets/images/smoke.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: absolute;
  min-height: 100vh;
  top: 0;
}

img {
  width: 300px;
  margin-top: 20px;
}

.artist {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.container {
  display: inline-block;
  margin: 20px;
  margin-top: 15%;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1 !important;
}

.listen {
  color: white;
  background-color: #c7096f;
  padding: 15px 40px;
  display: inline-block;
}
